.cardProduct {
    background-color: #f5f4f2;
    border-radius: 10px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProduct img {
    width: 150px;
    height: 200px;
    object-fit: contain;
}

.cardProduct a {
    background-color: #d38c35;
    color: black;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}