.form {
    max-width: 100%;
    margin: o auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formElem {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
    width: 75%;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.products div {
    width: 50%;
}

.products div p {
    display: flex;
    justify-content: center;
}

label {
    font-weight: bold;
    margin-bottom: 1rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 75%;
}

h2 {
    text-align: center;
}

.orderId {
    display: block;
    margin: 4rem;
    padding: 2rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    width: 50%;
}